# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
env/
.venv/
ENV/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# SQLite database
*.db

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# PyInstaller
build/
dist/
*.spec

# Temporary files
tmp/
temp/
*.tmp

# Cache
.cache/
